@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);

body {
background-color:#fff1e5;
color:#003636;
font-family:"Roboto Slab", serif;
font-size:1rem;
font-weight:400;
line-height:1.5rem
}

a {
color:#a00;
text-decoration:none;
word-break:break-word
}

a:hover {
border-bottom:2px solid #a00
}

fieldset,hr {
border:0;
padding:0
}

hr,img {
display:block
}

hr {
border-top:1px solid #999;
height:1px;
margin:1rem 0
}

img {
max-width:100%
}

a img {
border:0
}

figure {
margin-top:1rem;
text-align:center
}

table {
-ms-overflow-style:0;
-webkit-overflow-scrolling:touch;
background-color:transparent;
margin-bottom:1rem;
overflow-x:auto;
width:100%
}

table td,table th {
border-bottom:1px solid #dee2e6;
padding:.75rem;
vertical-align:top
}

table thead th {
border-bottom:2px solid #dee2e6;
vertical-align:bottom
}

table tbody+tbody {
border-top:2px solid #dee2e6
}

table tbody tr:nth-of-type(even) {
background-color:rgba(0,0,0,.15)
}

table th {
background-color:#212529;
border-color:#32383e;
color:#fff
}

textarea {
resize:vertical
}

blockquote {
border-color:#3700ff;
border-left:3px solid;
font-family:Georgia, bitstream charter, serif;
font-size:1.4rem;
font-style:italic;
margin-left:1rem;
padding-left:20px
}

blockquote cite {
font-size:70%;
opacity:.8
}

blockquote em {
font-weight:600
}

h1,h2,h3,h4,h5,h6 {
color:#a00;
font-weight:400;
line-height:1rem;
margin:30px 0 20px
}

h1 {
font-size:1.6rem
}

h2 {
font-size:1.3rem
}

h3 {
font-size:1.1rem
}

h4 {
font-size:1rem
}

h5 {
font-size:.9rem
}

h6 {
font-size:.8rem
}

.align-center {
text-align:center
}

ul {
list-style:disc inside;
padding-left:15px
}

ul.flat li {
display:block;
list-style:none;
margin-left:0
}

.prevent-collapse {
min-height:.1rem
}

.smaller {
font-size:70%
}

.post ul li {
margin-bottom:10px
}

.post ul li p {
display:inline
}

.highlight pre {
background-color:transparent!important;
color:#bdc3c7;
font-family:monospace;
font-size:.9rem;
margin:0;
overflow:auto;
padding:5px
}

.highlight {
background-color:#34515e;
border:1px solid #bdc3c7;
border-radius:5px
}

.wrapper {
margin:0 auto;
max-width:760px
}

.container {
margin-top:30px;
max-width:800px
}

.header {
margin-bottom:20px;
padding-bottom:20px
}

.header .avatar {
float:left;
margin:0 20px 0 0
}

.header .avatar img {
border-radius:100%;
height:64px;
overflow:hidden;
width:64px
}

.site-title a {
color:#a00;
text-decoration:none!important
}

.site-title a:hover {
border-bottom-width:3px
}

.header .site-description {
color:#a00;
display:flex;
justify-content:space-between;
margin-bottom:15px
}

.header nav {
border-bottom:1px solid #a00;
border-top:1px solid #a00;
padding-bottom:5px;
padding-top:5px
}

.header nav ul,ul.flat {
margin:0;
padding:0
}

.header nav li,.pagination li {
display:inline-block;
list-style:none;
margin:0 10px 0 0;
padding:0
}

.header .site-description nav {
border:0;
margin:0 0 0 15px;
min-width:50px;
padding:0
}

.header .site-description nav ul svg {
max-height:25px
}

.header .site-description .scheme-toggle {
height:100%
}

.header .site-description .scheme-toggle a svg {
max-height:15px
}

.header .site-description .scheme-toggle a.dark svg {
color:#f8e04f;
fill:#f8e04f
}

.header .site-description .scheme-toggle a.light svg {
color:#000;
fill:gray
}

.section .section-header {
color:#999;
font-size:.75rem;
font-weight:600;
letter-spacing:1px;
margin-bottom:20px;
text-transform:uppercase
}

.recent-posts .posts .post {
margin-bottom:45px
}

.post-header {
display:flex
}

.post-header .meta .date {
color:#8c001a;
margin-right:30px;
text-align:center;
width:64px
}

.post-header .meta .date .day {
display:block;
font-family:"Playfair Display", serif;
font-size:3em;
font-weight:700;
line-height:.45em;
margin-bottom:5px
}

.post-header .meta .date .rest {
display:block;
font-size:.75em
}

.post-header h1.title {
margin:-10px 0 0
}

.post .post-header {
margin-bottom:30px
}

.post .draft-label,.post .tags a {
color:#3700ff;
text-decoration:none
}

.post .draft-label {
background-color:#f9f2f4;
border-radius:4px;
margin-left:6px;
padding:2px 4px
}

.post .tags a {
border:1px solid #3700ff;
border-radius:3px;
display:inline-block;
font-size:.85em;
line-height:20px;
margin:0 10px 0 0;
padding:0 6px
}

.list .posts .post-header .meta {
margin-bottom:0;
margin-left:5px
}

.footer {
border-top:1px solid #a00;
font-size:.75em;
margin-top:40px;
padding:15px 0;
text-align:right
}

.footer,.footer a {
color:#003636
}

.footer a:hover {
color:#3700ff
}

.tag-cloud {
margin-top:20px
}

.tag-cloud a {
margin-right:15px
}

.pagination {
display:flex;
justify-content:space-between;
margin:0;
padding:0
}

.pagination .page-prev {
margin-right:20px;
padding-right:20px
}

figcaption {
color:#003636;
display:block;
font-size:.9rem;
font-weight:700
}

code:not(pre *) {
background-color:#34515e;
border:1px solid #666;
border-radius:5px;
color:#bdc3c7;
font-family:monospace;
font-size:.9rem;
padding:1px
}

.chroma .hl {
background-color:#fffacd;
color:0
}

.header nav.social a,button,html,input,select,textarea,.header nav.social a:hover {
color:#a00
}

::-moz-selection,::selection {
background:#3700ff;
color:#fff;
text-shadow:none
}

fieldset,figure,.pagination li {
margin:0
}

.align-left,.pagination,.pagination .page-item.page-prev,figcaption {
text-align:left
}

.align-right,.pagination .page-item.page-next {
text-align:right
}

.header .site-title,.figcaption-img {
margin-bottom:0
}

.header .site-description p,.post .title.small {
margin:0 0 10px
}

@media max-width900px{
body {
padding:20px
}

h1 {
font-size:1.6rem
}

h2 {
font-size:1.3rem
}

h3 {
font-size:1.1rem
}

h4 {
font-size:1rem
}

h5 {
font-size:.9rem
}

h6 {
font-size:.8rem
}

.container {
margin-top:10px
}

.header .nav.social li {
margin:0
}

.header .nav li {
font-size:.875em;
margin:0 10px 0 0
}

table {
-ms-overflow-style:0;
-webkit-overflow-scrolling:touch;
display:block;
overflow-x:auto;
width:100%
}
}

@media max-width400px{
.header .nav.social {
margin:0;
min-width:auto
}

.header .site-description {
font-size:.875em;
line-height:1.4em;
margin-top:10px
}
}