<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
		<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
		<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
		<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{/*
	{{- template "_internal/schema.html" . -}}
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	*/}}
	
	{{ $cssmain := resources.Get "css/main.css" }}
	{{ $cssnormalize := resources.Get "css/normalize.css" }}
	{{ $csshighlight := resources.Get "css/highlight_lg.css" }}
	{{ $cssdark := resources.Get "css/dark.css"  }}
	{{ $highlight_dk := resources.Get "css/highlight_dk.css" }}

	{{ $allcss := slice $cssnormalize $cssmain $csshighlight | resources.Concat "css/vendor.css" | minify | fingerprint "sha512" }}
	{{ $alldark := slice $cssdark $highlight_dk | resources.Concat "css/vendordk.css" | minify | fingerprint "sha512" }}

	<link rel="stylesheet" type="text/css" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}">
	<link id="dark-scheme" rel="stylesheet" href="{{ $alldark.RelPermalink }}" integrity="{{ $alldark.Data.Integrity }}">
	
	{{- if isset .Site.Params "customcss" }}
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" />
	{{ end }}

	{{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
		<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
		<script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
	{{ end }}
		<script src="{{ .Site.BaseURL }}js/main.js"></script>
	{{- if isset .Site.Params "customjs" -}}
		{{- range .Site.Params.customJS }}<script src="{{ $.Site.BaseURL }}{{ . }}"></script>{{- end }}
	{{- end }}
</head>
